<div>
  <header class="flex mb-32 items-end">
    <h1 class="text-4xl mr-8"><%= @collection.title %></h1>
    <p>
      created by
      <a href="<%= @collection.creator.show_path %>"
         class="underline hover:text-indigo-500">@<%= @collection.creator.username %></a>
    </p>
  </header>

  <div class="flex justify-between">
    <div class="grid grid-cols-3 lg:grid-cols-6 gap-8 items-start border-t py-8">
      <div class="lg:col-span-2">
        <h2 class="lg:text-2xl text-gray-500">Books</h2>

        <p class="mt-4">
        <% if @collection.epubs.empty? %>
          No books
        <% elsif @collection.epubs.size == 1 %>
          1 book
        <% else %>
          <%= @collection.epubs.size %> books
        <% end %>
        </p>
      </div>

      <% @collection.epubs.sort_by(&:creator).each do |epub| %>
        <a href="/epubs/<%= epub.id %>">
          <% if epub.cover_href %>
            <img src="<%= epub.cover_href %>"
                 style="width: 100%; height: auto;"
                 alt="<%= epub.title %>"
                 title="<%= epub.title %>"
                 />
          <% else %>
            <%= epub.title %>
          <% end %>
        </a>
      <% end %>
    </div>
  </div>
</div>
