<div>
  <h1>EPubs</h1>

  <p>found <%= @epubs.count %> epubs</p>

  <% @epubs.group_by(&:creator).sort_by { _1 }.each do |creator, epubs| %>
    <div>
      <h2><%= creator %></h2>

      <div style="display: grid; grid-template-columns: repeat(3, 200px); grid-gap: 25px; align-items: center; text-align: center">
        <% epubs.each do |epub| %>
          <a href="/epubs/<%= epub.id %>">
            <% if epub.cover_href %>
              <img src="<%= epub.cover_href %>" style="width: 100%" alt="<%= epub.title %>"/>
            <% else %>
              <%= epub.title %>
            <% end %>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
