<div>
  <header class="flex mb-32 items-end">
    <h1 class="text-4xl mr-8">EPubs</h1>
    <p class="text-gray-500">found <%= @epubs.count %> epubs</p>
  </header>

  <% @epubs.group_by(&:creator).sort_by { _1 }.each do |creator, epubs| %>
    <div class="grid grid-cols-3 lg:grid-cols-6 gap-8 items-start border-t py-8">
      <h2 class="lg:text-2xl text-gray-500 lg:col-span-2"><%= creator %></h2>


      <% epubs.each do |epub| # the 4n+1 book are going to need `col-start-3` class added to the a tag %>
        <a href="/epubs/<%= epub.id %>">
          <% if epub.cover_href %>
            <img src="<%= epub.cover_href %>" style="width: 100%" alt="<%= epub.title %>"/>
          <% else %>
            <%= epub.title %>
          <% end %>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
