<div>
  <h1><%= @epub.title %></h1>

  <a href="/epubs/<%= @epub.id %>">view epub</a>
</div>

<div id="read-start"></div>

<%= erb :"epubs/_nav" %>

<section style="max-width: 32em; margin: 0 auto;">
  <style>
  p + p {
    margin-top: 1em !important;
  }
  </style>
  <%= @item.content %>
</section>

<%= erb :"epubs/_nav" %>
