<div>
  <h1><%= @epub.title %></h1>

  <a href="/epubs/<%= @epub.id %>">view epub</a>
</div>

<div id="read-start"></div>

<%= erb :"epubs/_nav" %>

<section style="max-width: 32em" class="mt-4 mb-4 ml-auto mr-auto">
  <iframe src="<%= @epub.href_path(@item.href) %>"
          type="<%= @item.media_type %>"
          style="width: 100%;"
          scrolling="no"
          onload="let b = this.contentWindow.document.body; this.height = Math.abs(b.getBoundingClientRect().top) + b.scrollHeight"
          id="embedded-content">
  </iframe>
</section>

<%= erb :"epubs/_nav" %>
