<div class="flex justify-between">
  <div class="mr-8">
    <h1 class="text-4xl max-w-xl text-gray-500"><%= @epub.title %></h1>

    <h2 class="mt-4 text-xl"><%= @epub.creator %></h2>
    <p class="text-lg"><%= @epub.publisher %></p>

    <p class="mt-4">
      Uploaded by
      <a href="<%= @epub.uploader.show_path %>"
         class="underline hover:text-indigo-500"
         >
        @<%= @epub.uploader.username %>
      </a>
    </p>

    <a class="mt-4 inline-block p-4 uppercase tracking-widest bg-indigo-500 hover:bg-indigo-700 text-white outline-none focus:ring ring-indigo-200" href="/epubs/<%= @epub.id %>/read">read epub</a>

    <div class="mt-4">
      <% status = current_user.status_for_epub(@epub) %>
      <p><%=
          case status
          when :wants_to_read
            "you want to read this book"
          when :is_reading
            "you are reading this book"
          when :has_read
            "you have read this book"
          end
      %></p>

      <form action="/epubs/<%= @epub.id %>/status" method="POST" class="space-y-1 space-x-1">
        <% unless status == :wants_to_read %>
          <button class="text-xs inline-block p-4 uppercase tracking-widest bg-green-500 hover:bg-green-700 text-white outline-none focus:ring ring-green-200"
                  name="status" value="wants-to-read">
          i want to read this book
        </button>
        <% end %>

        <% unless status == :is_reading %>
          <button class="text-xs inline-block p-4 uppercase tracking-widest bg-green-500 hover:bg-green-700 text-white outline-none focus:ring ring-green-200"
                  name="status" value="is-reading">
          i am reading this book
        </a>
        <% end %>

        <% unless status == :has_read %>
          <button class="text-xs inline-block p-4 uppercase tracking-widest bg-green-500 hover:bg-green-700 text-white outline-none focus:ring ring-green-200"
                  name="status" value="has-read">
          i have read this book
        </a>
        <% end %>

        <% unless status.nil? %>
          <button class="text-xs inline-block p-4 uppercase tracking-widest bg-red-500 hover:bg-red-700 text-white outline-none focus:ring ring-red-200"
                  name="status" value="clear">
          clear
        </a>
        <% end %>

        <%= csrf_token_hidden_input %>
      </form>
    </div>

    <h2 class="mt-4 text-xl">collections</h2>
    <% if @epub.collections.empty? %>
      <p class="">this book is not in any collections</p>
    <% else %>
      <ul>
        <% @epub.collections.sort_by(&:title).each do |col| %>
          <li><a href="/collections/<%= col.id %>" class="underline hover:text-indigo-500"><%= col.title %></a></li>
        <% end %>
      </ul>
    <% end %>

    <% unless @potential_collections.empty? %>
      <form method="POST"
            action="/epubs/<%= @epub.id %>/collections"
            class="max-w-xs flex flex-col items-start mt-8">
        <%= csrf_token_hidden_input %>

        <fieldset class="w-full">
          <label for="collection" class="sr-only">
            collection
          </label>
          <select name="collection_id"
                  class="w-full p-4 border border-gray-400 focus:border-indigo-500 outline-none focus:ring ring-indigo-200">
            <% @potential_collections.sort_by(&:title).each do |c| %>
              <option value="<%= c.id %>"><%= c.title %></option>
            <% end %>
          </select>
        </fieldset>

        <button class="w-full mt-4 p-4 uppercase tracking-widest bg-indigo-500 hover:bg-indigo-700 text-white outline-none focus:ring ring-indigo-200">add to collection</button>
      </form>
    <% end %>
  </div>

  <div class="">
    <% if @epub.cover_href %>
      <img class="max-w-md" src="<%= @epub.cover_href %>" alt="<%= @epub.title %>"/>
    <% end %>
  </div>
</div>
