<div>
  <h1><%= @epub.title %></h1>

  <p><%= @epub.creator %></p>
  <p><%= @epub.publisher %></p>

  <p>uploaded by @<%= @epub.uploader.username %></p>

  <p><a href="/epubs/<%= @epub.id %>/read">read epub</a></p>
</div>
