<div>
  <h1><%= @epub.title %></h1>

  <p><%= @epub.creator %></p>
  <p><%= @epub.publisher %></p>

  <p>uploaded by <%= @epub.uploader.username %></p>
</div>

<div>
  <ul>
    <% @epub.parsed.items.each do |key, item| %>
      <li><a href="<%= @epub.href_path(item.href) %>"><%= key %></a></li>
    <% end %>
  </ul>
</div>
